{% macro destroy_button(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;" onclick="return confirm('Haluatko varmasti poistaa?')">
    <button type="submit" class="btn btn-danger">{{text|default('Poista')}}</button>
  </form>
{% endmacro %}

{% macro new_button(action, text) %}
  <form method="get" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-success">{{text|default('Uusi')}}</button>
  </form>
{% endmacro %}

{% macro edit_button(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-primary">{{text|default('Muokkaa')}}</button>
  </form>
{% endmacro %}

{% macro back_button(action, text) %}
  <form method="get" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-primary">{{text|default('Takaisin')}}</button>
  </form>
{% endmacro %}
