{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>Viestin lähetys topiciin</h1>

<form method="post" action="{{base_path}}/message">
  <div class="form-group">
    <input name="player_id" value="{{session.player}}" type="hidden">
  </div>

  <div class="form-group">
    <input name="topic_id" value="{{session.topic_id}}" type="hidden">
  </div>

  <div class="form-group">
    <label>Viesti</label>
    <textarea name="msgtext" class="form-control" type="text" maxlength="1000"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success">Lähetä viesti</button>
  </div>
</form>

<p><a href="{{base_path}}/area" class ="btn btn-primary">Palaa takaisin alueisiin</a></p>

{% endblock %}
