{% extends "base.html" %}
{% block content %}
  <h1>Täällä etsitään ja ehkä löydetään</h1>

  <p><strong>Etsi käyttäjiä</strong></p>

  <form method="post" action="{{base_path}}/search/results">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input name="nick_search" type="text">
    </div>
<br>
  <p><strong>Etsi topiceja</strong></p>

    <div class="form-group">
      <label>Hae topicin nimen perusteella</label>
      <input name="topic_search" type="text">
    </div>

    <button type="submit" class="btn btn-primary">Hae käyttäjistä ja topiceista</button>
  </form>

  <p>{{forms.back_button("#{base_path}/area", "Takaisin alueisiin")}}</p>



{% endblock %}
