{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>Täällä puhutaan ehkä jopa asiaa...</h1>

<p><a href="{{base_path}}/area/new" class ="btn btn-primary">Uusi Keskustelualue</a></p>

<br>
  <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Alueen aihe</th>
          <th>Alueen kuvaus</th>
          <th>Topiceja</th>
          <th>Viestejä</th>
        </tr>
      </thead>

      <tbody>
        {% for area in areas %}
          <tr>
            <td><a href="{{base_path}}/area/{{area.id}}">{{area.name}}</a></td>
            <td>{{area.description}}</td>
            <td>{{area.topicCount(area.id)}}</td>
            <td>{{area.messageCount(area.id)}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
