{% extends "base.html" %}
{% block content %}
  <h1>{{area.name}}</h1>

<br>
  <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Topicin nimi</th>
          <th>Viestejä</th>
          <th>Viimeisin viesti</th>
        </tr>
      </thead>

      <tbody>
        {% for topic in topics %}
          <tr>
            <td>{{topic.name}}</td>
            <td>{{topic.messageCount(topic.id)}}</td>
            <td>Uusin viesti</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
