#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
  background-color: #99ccff;
}

body {
  background-color: #d7ffb3;
}

.td-align-right{
    display: inline-block;
    float: right;
}

.td-align-right-v{
    display: inline-block;
    float: right;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
  background-color: #ffc266;
}
