{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}


  <h1>Muokkaa topicia:</h1>

  <form method="post" action="{{base_path}}/topic/{{topic.id}}">
    <!-- TÄSSÄ OIKEITA HOMMIA KUN KIRJAUTUMINEN JA SESSIOT TOIMII
    <div class="form-group">
      <input name="player_id" value="{{topic.player_id}}" type="hidden">
    </div>

    <div class="form-group">
      <input name="area_id" value="{{topic.area_id}}" type="hidden">
    </div> -->

    <div class="form-group">
      <label>Area id</label>
      <input name="area_id" class="form-control" value="{{attributes.area_id}}" type="text">
    </div>

    <div class="form-group">
      <label>Player id</label>
      <input name="player_id" class="form-control" value="{{attributes.player_id}}" type="text">
    </div>

    <div class="form-group">
      <label>Topicin nimi</label>
      <input name="name" class="form-control" value="{{topic.name}}" type="text" maxlength="75">
    </div>

    <div class="form-group">
      <label>Aloitusviesti</label>
      <textarea name="msgtext" class="form-control" value="{{first_message.msgtext}}" type="text" maxlength="1000"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">Muokkaa topicia</button>
    </div>
  </form>
    <p>{{forms.back_button("#{base_path}/topic/#{topic.id}")}}
{% endblock %}
