{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}


{% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for error in errors %}
        <li>{{error}}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

  <h1>Muokkaa topicia:</h1>

  <form method="post" action="{{base_path}}/topic/{{topic.id}}">
    <div class="form-group">
      <input name="player_id" value="{{topic.player_id}}" type="hidden">
    </div>

    <div class="form-group">
      <input name="area_id" value="{{topic.area_id}}" type="hidden">
    </div>

    <div class="form-group">
      <label>Topicin nimi</label>
      <input name="name" class="form-control" value="{{topic.name}}" type="text" maxlength="75">
    </div>

    <div class="form-group">
      <label>Aloitusviesti</label>
      <textarea name="msgtext" class="form-control" type="text" maxlength="1000">{{first_message.msgtext}}</textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">Muokkaa topicia</button>
    </div>
  </form>
    <p>{{forms.back_button("#{base_path}/topic/#{topic.id}")}}
{% endblock %}
