{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

  <h1>{{topic.name}}</h1>

<br>
      {{forms.new_button("#{base_path}/message/new", "Uusi Viesti")}}

      {% if session.player == topic.player_id %}
      {{forms.edit_button("#{base_path}/topic/#{topic.id}/edit", "Muokkaa Topicia")}}
      {{forms.destroy_button("#{base_path}/topic/#{topic.id}/destroy", "Poista Topic")}}
      {% endif %}

  <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Käyttäjä</th>
          <th>Viesti</th>
          <th>Lähetysaika</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for message in messages %}
        <tr>
          <td width="10%"><a href="{{base_path}}/player/{{message.player_id}}">{{message.getSender(message.id).nickname}}</a></td>
          <td width="55%">{{message.msgtext}}</td>
          <td width="15%">{{message.added}}</td>
          <td width="20%">
            {% if session.player == message.player_id %}
            {{forms.edit_button("#{base_path}/message/#{message.id}/edit", "Muokkaa Viestiä")}}
            {% if topic.firstTopicMessage(topic.id) != message %}
            {{forms.destroy_button("#{base_path}/message/#{message.id}/destroy", "Poista Viesti")}}
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>{{forms.back_button("#{base_path}/area/#{topic.area_id}")}}</p>

  {% endblock %}
