{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<div class="alert alert-success">
  {{message}}
</div>

  <h1>{{topic.name}}</h1>

<br>



      {{forms.new_button("#{base_path}/message/new", "Uusi Viesti")}}

      {{forms.edit_button("#{base_path}/topic/#{topic.id}/edit", "Muokkaa Topicia")}}

      {{forms.destroy_button("#{base_path}/topic/#{topic.id}/destroy", "Poista Topic")}}


  <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Käyttäjä</th>
          <th>Viesti</th>
          <th>Lähetysaika</th>
        </tr>
      </thead>

      <tbody>
        {% for message in messages %}
        <tr>
          <td>Staattinen käyttäjä</td>
          <td>{{message.msgtext}}</td>
          <td>{{message.added}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>{{forms.back_button("#{base_path}/area/#{topic.area_id}")}}</p>

  {% endblock %}
