{% extends "base.html" %}
{% block content %}
  <h1>Täällä puhutaan kotimaastamme</h1>

<p></p>
  <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Viestejä</th>
          <th>Viimeisin viesti</th>
        </tr>
      </thead>

      <tbody>
        <!-- Listataan pelit tähän -->
        <tr>
          <td>Kunnallisvaalit 2017</td>
          <td>10</td>
          <td>Lähettänyt: JJ, 16:30:21, 21.03.2017</td>
        </tr>
      </tbody>
    </table>








{% endblock %}
